<table class="table">
    <tr>
      <th>Naame</th>
      <th>Sate</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %> </td>
        <td><%= project.state %> </td>
        <td><%= project.description %> </td>
        <td><%= project.start %> </td>
        <td><%= project.end %> </td>
      </tr>
    <% end %>
  </table>